
body {
    margin: 0;
}
   
.topnav a:hover {
    background-color: palevioletred;
    color: white;
}
  
.topnav a.now {
    background-color: pink;
    color: black;
}

h2 {
    text-align: center;
}


.cooking{
    color: #DABC73;
}
.served{
    color: #4D9589;
}
.cancel{
    color: #CF7157;
}