
body {
    margin: 0;
}
   
.topnav a:hover {
    background-color: palevioletred;
    color: white;
}
  
.topnav a.now {
    background-color: pink;
    color: black;
}

h2 {
    text-align: center;
}

#pro{
    text-align: left;
    transform: translateX(20px);
}

.done::before {
    content: "";
    background-image: url('../icon/eat.png');
    background-size: 25px 25px; 
    width: 25px; 
    height: 25px; 
    display: inline-block;
}
.cooking::before {
    content: "";
    background-image: url('../icon/cooking.png');
    background-size: 25px 25px; 
    width: 25px; 
    height: 25px; 
    display: inline-block;
}
.served::before {
    content: "";
    background-image: url('../icon/served.png');
    background-size: 25px 25px; 
    width: 25px; 
    height: 25px; 
    display: inline-block;
}
.cancel::before {
    content: "";
    background-image: url('../icon/sorry.png');
    background-size: 25px 25px; 
    width: 25px; 
    height: 25px; 
    display: inline-block;
}

.cooking{
    color: #DABC73;
}
.served{
    color: #4D9589;
}
.cancel{
    color: #CF7157;
}

.left{
    text-align: left;
    transform: translateX(10px);
}