header {
    background-color: #4D9589;
    padding: 10px;
    margin-bottom: 15px;
    display: flex; /* เพื่อให้ <h1> และ <a> อยู่ในหนึ่งแถว */
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-right: 40px;
    flex: 1;
    text-align: center;
    color: #F5F2E9;
}

.icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10%;
    margin-left: 20px;
}

.icon a {
    background-color: white;
    padding: 6px 7px;
    border-radius: 50%; /* ให้เป็นวงกลม */
}

body {
    margin: 0;
}
  
h2 {
    text-align: center;
}
 
.center{
    text-align: center;
}

.orderConfirmButton{
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: inline-block;
    border-radius: 2rem;
    background-color: #609966; /* #cbe2c5 */
    transition: 0.2s;
    text-align: center;
    font-size: 1rem;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-top: 10px;
}
.orderConfirmButton:hover{
    background-color: #25814c;
}

.c6{
    width: 60%;
    margin-bottom: 5px;
}

/*.posit{
    margin: 0 auto;
    transform: translateX(40px);
}*/

table{
    margin: auto;
    text-align: center;
    width: 90%;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0,0.05);
    border-collapse: collapse;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

th, td {
    padding: 1rem;
}

td.fat{
    padding: 7rem 0rem;
    text-align: center;
}

tr{
    border-bottom: 1px solid #D9D9D9; 
}

tr:last-child{
    border: none
}

th:first-child{
    padding: 1rem 0rem;
}

td.left {
    text-align: left;
    padding-left: 2rem;
}
td.right {
    text-align: right;
    padding-right: 2rem;
}
td.center{
    text-align: center;
    
}

input.a10 {
    width: 3rem; 
    height: 30px; 
    border: 1px solid rgb(120, 120, 120);
    border-radius: 6px;
    margin: 0.5rem 0; 
    padding: 15px;  
}

img {
    max-width: 40px; 
    max-height: 40px; 
    border-radius: 5px;
}

.deleteButton{
    color: white;
    border: none;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #e70404; /* #cbe2c5 */
    text-align: center;
    font-size: 1rem;
    margin-left: 15px;
}
.deleteButton:hover{
    background-color: #c60000;
    
}

select {
    width: 3rem;
    height: 2rem;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
}


#nav{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    display: block;
}
/* Nav */

a{
    text-decoration: none;
    color: #000000;
}

#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #CF7157;
    flex: 1; /* เพิ่ม flex: 1; เพื่อให้ความกว้างเท่ากับ #main */
    max-width: 100%;
    padding: 1em;
    background-color: #DABC73;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    cursor: default;
    text-align: center;
    text-decoration: none;
}

#nav a:hover {
    color: #CF7157;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a:hover {
    background-color: #F5F2E9;
}

#nav ul li a.active {
    background-color: #F5F2E9;
    box-shadow: none;
}

#nav + #main {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main {
    background-color: #F5F2E9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#wrapper {
    width: 100%;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}.cbutton{
        text-align: center;
    }

@media (max-width: 480px) {
    /* Mobile */
    td, th{
        font-size: 10px;
    }

    .b{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 481px) and (max-width: 820px) {
    /* iPad */
    .cbutton{
        text-align: right;
        background-color: #000000;
    }

    img {
        max-width: 60px !important; 
        max-height: 60px; 
        border-radius: 5px;
    }
}

@media screen and (min-width: 821px) {
    /* destop */
    .cbutton{
        text-align: right;
        background-color: #e70404;
    }
}
