.bill {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.qr_reviwe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.text-c{
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    margin:0;
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    text-align: left;
}

/* ปุ่ม */
.menu {
    text-align: center;
    margin-top: 20px;
}

.menu button {
    background-color: #4D9589;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #2C424F;
}

/* สไตล์สำหรับอุปกรณ์ขนาดกลาง (iPad) */
@media screen and (min-width: 768px) {
    .bill {
        margin: 1.5rem auto;
        padding: 18px;

    }
}

/* สไตล์สำหรับอุปกรณ์ขนาดใหญ่ (PC) */
@media screen and (min-width: 1024px) {
    .bill {
        margin: 2rem auto 2rem auto;
        padding: 20px;
    }
}