body{
    background-color: #F5F2E9;
    margin: 2% ;
}
.detail {
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detail h1 {
    font-size: 2.2rem;
    color: #000000;
}

.detail h2 {
    font-size: 1.8rem;
    color: #333;
}

.detail p {
    margin: 0;
    font-size: 1.2rem;
    color: #666;
}

.detail button {
    font-size: 0.9rem;
    background-color: #4D9589;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.detail button:hover {
    background-color: #2C424F;
}

footer{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* สไตล์สำหรับอุปกรณ์ขนาดกลาง (iPad) */
@media screen and (min-width: 768px) {
    body{
        margin: 5% ;
    }
    .detail {
        padding: 2rem;
    }
    .detail h1 {
        font-size: 2.5rem;
    }
    
    .detail h2 {
        font-size: 2rem;
    }
    
    .detail p {
        margin: 0;
        font-size: 1.5rem;
    }
    .detail button {
        font-size: 1.5rem;
    }
}

/* สไตล์สำหรับอุปกรณ์ขนาดใหญ่ (PC) */
@media screen and (min-width: 1024px) {

    .detail {
        max-width: 50rem;
        padding: 2rem;
        margin: auto ;
    }
    .detail h1 {
        font-size: 2.5rem;
    }
    
    .detail h2 {
        font-size: 2rem;
    }
    
    .detail p {
        margin: 0;
        font-size: 1.5rem;
    }
    .detail button {
        font-size: 1.58rem;
    }
}