.genQr {
    max-width: 400px;
    margin: 2% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
}

.qr {
    margin-top: 20px;
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 16px;
    color: #444;
    margin: 10px 0;
}

/* ปุ่ม */
.menu {
    text-align: center;
    margin-top: 20px;
}

.menu button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #0056b3;
}

/* สไตล์สำหรับอุปกรณ์ขนาดกลาง (iPad) */
@media screen and (min-width: 768px) {
    .genQr {
        margin: 2rem auto;
        padding: 20px;
    }
}

/* สไตล์สำหรับอุปกรณ์ขนาดใหญ่ (PC) */
@media screen and (min-width: 1024px) {
    .genQr {
        margin: 2% auto;
        padding: 20px 40px;
    }
}