body{
margin: auto
}
.employeePage{
    background-color: rgb(241, 241, 241);
}
.topBar{
    background-color: rgb(150, 150, 150);
    padding: 20px;
}
.topBar > button{
    padding: 10px 15px;
    margin-right: 10px;
}
.orderPage{
}