.noOrder{
    text-align: center;
    margin-top: 15%;
}
/* สไตล์ตาราง */
.orders {
    width: 90%;
    border-collapse: collapse;
    margin: 15px auto;
}

.orders th, .orders td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* สไตล์เริ่มต้นสำหรับแถวที่เป็นหัวของตาราง */
.orders th {
    background-color: #2C424F;
    color: #fff;
}

/* สไตล์สำหรับแถวที่ไม่เป็นหัวของตาราง */
.orders tr:not(:first-child) {
    background-color: #ffffff;
}

/* สไตล์สำหรับแถวที่เป็นหัวของตาราง */
.orders tr:nth-child(odd) {
    background-color: #F5F2E9; /* สลับสีกับแถวที่เป็นหัว */
}

.orders input[type="submit"] {
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}
.served {
    background-color: #4D9589;
}
.served:hover{
    background-color: #2C424F;
}

.cancel {
    background-color: #DD9E68;
}
.cancel:hover  {
    background-color: #CF7157;
}

@media (max-width: 768px) {
    .orders {
        width: 100%;
        border-collapse: collapse;
        margin: auto;
    }
}