/* สไตล์ตาราง */
.orders {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.orders th, .orders td {
    padding: 0.5rem;
    border: 0.1rem solid #ddd;
    text-align: center;
    font-size: 1.2rem;
}

.orders .menu-td {
    text-align: left; 
}

.orders .detail {
    font-style: italic; 
    font-size: 1rem;
    color: #CF7157;
}
/* สไตล์เริ่มต้นสำหรับแถวที่เป็นหัวของตาราง */
.orders th {
    background-color: #2C424F;
    color: #fff;
}

/* สไตล์สำหรับแถวที่ไม่เป็นหัวของตาราง */
.orders tr:not(:first-child) {
    background-color: #ffffff;
}

/* สไตล์สำหรับแถวที่เป็นหัวของตาราง */
.orders tr:nth-child(odd) {
    background-color: #F5F2E9; /* สลับสีกับแถวที่เป็นหัว */
}

.orders input[type="submit"] {
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.served {
    background-color: #4D9589;
}
.served:hover{
    background-color: #2C424F;
}

.cancel {
    background-color: #DD9E68;
}
.cancel:hover  {
    background-color: #CF7157;
}

/* สไตล์สำหรับอุปกรณ์ขนาดกลาง (iPad) */
@media screen and (min-width: 768px) {
    .orders th, .orders td {
        padding: 0.2rem;
        font-size: 1.5rem;
    }
    .orders .detail {
        font-size: 1.2rem;
    }
    .orders input[type="submit"] {
        padding: 0.5rem 1.8rem;
    }
}

/* สไตล์สำหรับอุปกรณ์ขนาดใหญ่ (PC) */
@media screen and (min-width: 1024px) {
    .orders {
        width: 80%;
        margin: 0 auto;
    }
    .orders th, .orders td {
        padding: 0.5rem;
    }
    .orders input[type="submit"] {
        padding: 0.8rem 2rem;
    }
}