table {
    margin: 2rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #DABC73;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #F5F2E9;
}
