.page{
    display: flex;
}
form#summaryForm {
    width: 80%;
    max-width: 20%;
    padding: 30px 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form#summaryForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form#summaryForm select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form#summaryForm input[type="hidden"] {
    display: none;
}

form#summaryForm div {
    margin-bottom: 20px;
}

input[type="submit"]{
    width: 100%;
    font-size: 18px;
    padding: 10px 10px;
    color: #ffffff;
    background-color: #DABC73;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #4D9589;
}

input[type="date"]{
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#summaryResult{
    width: 80%;
    text-align: center;
}