body{
    margin: 0;
}
.topbar {
    background-color: #4D9589; 
    color: #fff; 
    align-items: center;
    margin: auto;
    padding: 1%;
}

.back-link {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
}

.back-link:hover {
    text-decoration: underline;
}

.center-title {
    text-align: center; 
    margin: auto;
}


.icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10%;
    margin-left: 20px;
}

.icon a {
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%; /* ให้เป็นวงกลม */
    transition: background-color 0.2s;
}

.icon a:hover {
    background-color: #DD9E68; 
}

@media (max-width: 768px) {
    .topbar {
        padding: 2%;
    }
    .back-link {
        margin: 1%;
    }
    .center-title {
        margin: 1%;
    }
}