body{
    margin: 0;
}
.topbar {
    background-color: #4D9589;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

a {
    text-decoration: none;
    position: absolute;
    left: 1.5rem;
}

a img {
    width: 30px;
    background-color: #fff;
    padding: 0.1rem;
    border-radius: 50%;
}

.center-title {
    margin: 0;
    font-size: 1.5rem;
}

.back-link {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
}

.back-link:hover {
    text-decoration: underline;
}

.center-title {
    text-align: center; 
    margin: auto;
}


.icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10%;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .topbar {
        padding: 2%;
    }
    .back-link {
        margin: 1%;
    }
    .center-title {
        margin: 1%;
    }
}